html {
    font-family:;
    font-size:;
    color:;
    background-color:;
    text-align:;
    margin: 0;
}

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: block;
    border-bottom:;
    background-color:;
    top: 0px;
    height:;
}

.logo {
    height:;
    float:;
    padding:;