html {
    font-family: Arial, Helvetica, sans-serif;
    font-size:;
    color:rgb(78, 78, 78);
    background-color:rgb(202, 200, 200);
    text-align: left;
    margin: 0;
}

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: block;
    border-bottom: white;
    background-color:white;
    top: 0px;
    height: 64px;
}

.logo {
    height:64px;
    float: left;
    padding-left: 24px;
}

.title {
    float: left;
    height: 32px;
    margin: 0 auto;
    vertical-align: middle;
}

.navigation {
   float: right;
   height: 100%;
   margin: 0 auto;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 16px;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-decoration: underline;
    color:rgb(78, 78, 78)
}