
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:rgb(78, 78, 78);
    background-color: white;
    text-align: left;
    margin: 0;
}

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: block;
    border-bottom: white;
    background-color:white;
    top: 0px;
    height: 4rem;
}

.logo {
    height:4rem;
    float: left;
    padding-left: 1.5rem;
}

.title {
    float: left;
    height: 2rem;
    margin: 0 auto;
    vertical-align: middle;
}

.title2 {
    float: left;
    height: 2rem;
    margin: 0 auto;
    font-weight:lighter;
    vertical-align: middle;
    color:rgb(202, 200, 200);    
}

.navigation {
   float: right;
   height: 100%;
   margin: 0 auto;
   padding-right: 1.5rem;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0rem 1rem;
    text-decoration: none;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color:rgb(78, 78, 78)
}

.banner-container {
    background-color:rgb(202, 200, 200);
    padding: 1.5rem 2rem;
    display: flex;
    height: auto;
}

.banner-container img {
    width: 60%;
    margin-top: 2rem;
    padding: 1.5rem 2rem;
}

.banner-text {
    width: 40%;
    margin: auto;
}
.banner-text h1 {
    font-size: 3.75rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.banner-text h2 {
    font-size: 2.2rem;
}
.button {
    background-color:rgb(78, 78, 78);
    display: block;
    font-weight: 700;
    width: 75%;
    padding: 0.5rem 3.12rem;
    margin: 2.5rem auto;
    text-align: center;
    text-decoration: none;
    color: white;
}

.info-container {
    border: 0.06rem rgb(202, 200, 200);
    padding: 1.5rem 2rem;
    height: auto;
    display: flex;
}

.info-left {
    width: 60%;
    padding: 1.5rem 2rem;
    border: 0.06rem rgb(202, 200, 200)
}

.info-left img {
    width: 100%;
    padding-bottom: 2rem;
}

.info-caption h1 {
    font-size: 3.12rem;
    font-weight: bold;
    padding-bottom: 24px;
}

.info-caption h4 {
    font-size: 30px;
    padding-bottom: 1.5rem;
    font-weight: lighter;
}

.info-caption p {
    font-size: 1.25rem;
}

.info-right {
    width: 40%;
    padding: 1.5rem 2rem;
    display: inline-block;
    height: auto;
    border-left-style: solid;
    border-color:rgb(202, 200, 200);
    border-width: 0.06rem;
}

.info-right img {
    height: auto;
    width: 35%;
    padding: 1rem;
}

.info-text {
    width: 65%;
    float: right;
    padding-top: 2.8rem;
    padding-bottom: 0.5rem;
    padding-right: 1.5rem;
}

.info-text h2 {
    padding-bottom: 0..5rem;
}

.info-text p {
    padding-bottom: 0.5rem;
}

.info-text a {
    text-decoration: none;
}

.info-gray {
    background-color:rgb(202, 200, 200);
}

.start {
    background-color:rgb(202, 200, 200);
    align-items: center;
    font-size: 3.12rem;
    text-align: center;
    padding-top: 2rem;
    color:rgb(78, 78, 78);
}

.grid-container {
    background-color:rgb(202, 200, 200);
    padding: 2rem 4.5rem;
    display: inline-grid;
    max-width: 100%;
    grid-gap: 2rem;
}

.grid-container img {
    width: 100%;
}

.grid-container h3 {
    font-size: 1.87rem;
    font-weight: bold;
    padding: 1rem;
}

.grid-container h6 {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: lighter;
}

.grid-container p {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: lighter;
}

.grid-item1 {
    grid-row-start: 1;
    grid-column-start:1;
    background-color: white;
}

.grid-item2 {
    grid-row-start: 1;
    grid-column-start: 2;
    background-color: white;
}

.grid-item3 {
    grid-row-start: 1;
    grid-column-start: 3;
    background-color: white;
}

.grid-item4 {
    grid-row-start: 2;
    grid-column-start: 1;
    background-color: white;
}
.grid-item5 {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: white;
}

.grid-item6 {
    grid-row-start: 2;
    grid-column-start: 3;
    background-color: white;
}

.thesis-container {
    padding: 1.5rem 2rem;
    height: auto;
    display: flex;
}

.thesis-title h1 {
    font-weight: bold;
    font-size: 3.75rem;
    text-align: center;
    padding: 2rem;
}

.thesis-left {
    width: 60%;
    padding-right: 1.5rem;
}

.thesis-left video {
    width: 100%;
}

.thesis-left h3 {
    font-weight: bold;
    font-size: 30px;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.thesis-left p {
    font-size: 1.25rem;
    font-weight: lighter;  
}

.thesis-right {
    width: 40%;
    padding: 1.5rem;
    display: inline-block;
    height: auto;
}

.thesis-right img {
    height: auto;
    width: 35%;
    padding: 1rem;
}

.thesis-grey {
    background-color:rgb(202, 200, 200);
}

.thesis-text {
    width: 65%;
    float: right;
    padding-top: 2.8rem;
    padding-bottom: 0.5rem;
    padding-right: 1.5rem;
}

.thesis-text h2 {
    padding-bottom: 0.5rem;
}

.theis-text p {
    padding-bottom: 0.5rem;
}

.footer {
    padding: 1.5rem 1rem;
    border-top-style: solid;
    border-width: 0.06rem;
    border-color:rgb(202, 200, 200);
}

.footer i {
    font-style: normal;
}

.foot-link {
    padding: 1.5rem 1rem;
    float: right;
    height: 100%;
    margin: 0 auto;
    padding-right: 1.5rem;
 }
 
 .foot-link a {
     height: 100%;
     display: table;
     float: left;
     padding: 0rem 1rem;
     text-decoration: none;
 }
 
 .foot-link a li{
     display: table-cell;
     vertical-align: middle;
     height: 100%;
     color:rgb(78, 78, 78)